# clang-format: 19
AccessModifierOffset:                 -2
AlignAfterOpenBracket:                Align
AlignConsecutiveBitFields:            false
AllowShortBlocksOnASingleLine:        Always
AllowShortCaseLabelsOnASingleLine:    true
AllowShortEnumsOnASingleLine:         true
AllowShortFunctionsOnASingleLine:     Inline
AllowShortIfStatementsOnASingleLine:  AllIfsAndElse
AllowShortLambdasOnASingleLine:       All
AllowShortLoopsOnASingleLine:         true
AlwaysBreakTemplateDeclarations:      true
BasedOnStyle:                         WebKit
BinPackArguments:                     true
BinPackParameters:                    true
BreakBeforeBraces:                    Attach
ColumnLimit:                          0
Cpp11BracedListStyle:                 true
FixNamespaceComments:                 true
IfMacros:                             ['SECTION']
IncludeBlocks:                        Preserve
IndentCaseLabels:                     true
IndentPPDirectives:                   None
IndentWidth:                          2
KeepEmptyLinesAtTheStartOfBlocks:     false
NamespaceIndentation:                 All
PackConstructorInitializers:          CurrentLine
PenaltyBreakBeforeFirstCallParameter: 200
PenaltyBreakComment:                  5
PenaltyBreakFirstLessLess:            50
PenaltyExcessCharacter:               4
PointerAlignment:                     Right
SortIncludes:                         true
SpaceAfterTemplateKeyword:            false
SpaceBeforeCpp11BracedList:           false
SpaceBeforeParens:                    Custom
SpaceBeforeParensOptions:
  AfterControlStatements:             true
  AfterIfMacros:                      false
SpaceInEmptyBlock:                    false
Standard:                             Latest
TabWidth:                             2
UseTab:                               Never
