# clang-format: 11
AccessModifierOffset:                 -2
AlignAfterOpenBracket:                Align
AlignConsecutiveBitFields:            false
AllowShortBlocksOnASingleLine:        false
AllowShortFunctionsOnASingleLine:     Inline
AllowShortLambdasOnASingleLine:       All
AlwaysBreakTemplateDeclarations:      true
BasedOnStyle:                         WebKit
BinPackArguments:                     true
BinPackParameters:                    true
BreakBeforeBraces:                    Attach
ColumnLimit:                          0
Cpp11BracedListStyle:                 true
FixNamespaceComments:                 true
IncludeBlocks:                        Preserve
IndentCaseLabels:                     true
IndentPPDirectives:                   None
IndentWidth:                          2
KeepEmptyLinesAtTheStartOfBlocks:     false
NamespaceIndentation:                 All
PenaltyBreakBeforeFirstCallParameter: 200
PenaltyBreakComment:                  5
PenaltyBreakFirstLessLess:            50
PenaltyExcessCharacter:               4
PointerAlignment:                     Right
SortIncludes:                         true
SpaceAfterTemplateKeyword:            false
SpaceBeforeCpp11BracedList:           false
SpaceInEmptyBlock:                    false
Standard:                             Latest
TabWidth:                             2
UseTab:                               Never