version: 6.1.x.{build}
image: 
 - Visual Studio 2017
environment:
  matrix:
    - VS_VERSION: "Visual Studio 14"
    - VS_VERSION: "Visual Studio 15"
build_script:
- cmd: >-
    mkdir build

    cd build

    cmake c:\Projects\chaiscript -G "%VS_VERSION%" -DBUILD_TESTING:BOOL=ON -DBUILD_MODULES:BOOL=ON

    cmake --build . --config Debug
test_script:
- cmd: ctest -C Debug
notifications:
- provider: Webhook
  url: https://webhooks.gitter.im/e/9ff725a985b5679d1d5d
  on_build_success: true
  on_build_failure: true
  on_build_status_changed: false
